li a {
    color: red;
}

.vertical-spacer{
    width: 100%;
    display: block;
    padding-top: 2em;
}

.vertical-half-spacer{
    width: 100%;
    display: block;
    padding-top: 1em;
}

.vertical-quater-spacer{
    width: 100%;
    display: block;
    padding-top: 0.5em;
}