{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{% static 'semantic/semantic.min.js' %}"></script>

<head>
  <title>
    {% block title %}{% endblock %}
</title>
</head>
<body>
    <div class="ui large inverted fixed top menu">
        <div class="item">
            <i class="users big icon"></i>
        </div>
        <div class="item"><a href="{% url 'contactsapp:index' %}">Contacts</a></div>
        <div class="right menu">
            <a href="{% url 'contactsapp:addContact' %}" class="item">Add Contact</a>
            <a class="item">Sign Out</a>
        </div>
    </div>
    <div class="vertical-spacer"></div>
    <div class="vertical-spacer"></div>
    <div class="vertical-spacer"></div>
    <div class="vertical-spacer"></div>
    {% block body %}{% endblock %}
    <div class="vertical-spacer"></div>
    <div class="vertical-spacer"></div>
    <div class="vertical-spacer"></div>
    <div class="vertical-spacer"></div>
</body>